.latex {
    font-family: "Latin Modern";
    /* font-family: "KaTeX_Main"; */
    font-style: normal;
    line-height: 1.5;
}

.latex-italic {
    font-family: "Latin Modern";
    /* font-family: "KaTeX_Main"; */
    font-style: italic;
}

.latex-bold {
    font-family: "Latin Modern";
    /* font-family: "KaTeX_Main"; */
    font-style: bold;
}

.latex-section {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-thickness: 0.05em;
}

.latex-subsection {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.05em;
}

.latex-subsubsection {
    font-size: 1.2em;
    font-weight: bold;
    /* text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.05em; */
}

.latex-enumerate {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 2em;
}

.latex-itemize {
    list-style-type: circle;
    list-style-position: outside;
    padding-left: 2em;
}

.latex-list-element {
    margin-bottom: 0.5em;
}

.latex-attachment {
    filter: invert(1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latex-hyperlink {
    /* color: #FF7AFF; */

    font-weight: 700;
    color: #778acc;

    background-image: linear-gradient(45deg, #ffc08c, #aa278c 30%, #0ecad4);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 1px;

    text-decoration: none;
}

.katex-display {
    /* overflow: hidden; */
    overflow-x: auto;
}

.katex-html {
    overflow-y: hidden;
}

.katex {
    font-size: 1.15em !important;
}

.katex-mathml {
    user-select: none;
    -webkit-user-select: none;
}
